.nav a { 
	text-decoration: none;
	color:#8D8D06;
}
.nav a:hover{
	text-decoration: underlined;
	text-align:center;
	font-size: 21pt;
	color: #154B01;	
}

.nav {	
	text-align: center;
}
.nav ul li{
	
	color: black;
	width: 300px;
    border-radius:0px;
	display: inline;
	font-family: Verdana;
	font-weight: none;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-bottom: 25px;
	padding-left: 10px;
	font-size: 18pt;
}
.nav ul h3 {
	text-align: right;
	
}
.nav ul h3 li{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.header{ 
	font-family: Verdana;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: black;
	font-size: 16pt; 
	width: 100%;
	float: left;
}
body{
	background-color:#E5E5C8;
 }
 
.foto{
	width: 10%;
	height:10%;
	float: left;
/*	margin-left:30px;
	margin-top: 30px;*/
}
.contact{
	text-decoration: underlined;
	text-align: center;
	font-size: 12pt;
	position: center;
}

.container{
	width: 996px;
	margin: 0 auto;
	height: 2000px;
}
 
.dump{
    border: 0px;
	margin: 10px;
	height: 400px;
    float: left;
}

.dump img{
	height: 400px;
	width: 300px;
}
.div {
	border: 0px;
	margin: 10px;
	height: 400px;
    float: left;
}



